
.root {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    padding-top: 80px;
}

.big {
    display: flex;
    flex: 2;
    overflow: hidden;
}

.main {
    overflow: hidden;
    height: 50vh;
    max-height: 1000px;
    margin: 10px;
}

.showcases {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.small {
    display: flex;
    flex: 1;
    height: 50vh;
    max-height: 500px;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.small:nth-child(1) {
    margin-top: 0;
}

.bslidel {
    /*transform: translate(-100%, 0);*/
    transition: opacity .3s ease, transform .7s ease;
}

.aslidel {
    /*transform: translate(0, 0);*/
}

.bslider {
    transform: translate(-20px, 20px) scale(0.9);
    transition: opacity .3s ease, transform .5s ease;
}

.aslider {
    transform: translate(0, 0) scale(1.0);
}

@media screen and (min-width: 768px) {

    .root {
        padding-top: 120px;
    }

    .small {
        margin-left: 0;
    }

    .small:nth-child(2) {
        margin-top: 0;
    }

    .small:nth-child(odd) {
        margin-left: 10px;
    }

    .showcases {
        flex-direction: row;
    }

}

@media screen and (min-width: 1000px) {

    .root {
        flex-direction: row;
        height: 80vh;
        max-height: 1000px;
        padding-top: 0px;
    }

    .main {
        height: 80vh;
    }

    .small {
        margin-top: 10px;
    }

    .small:nth-child(odd) {
        margin-left: 0px;
    }

    .small:nth-child(1), .small:nth-child(2) {
        margin-top: 10px;
    }

    .showcases {
        flex-direction: column;
    }

}
