
.root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.big {
    display: flex;
    flex: 2;
    overflow: hidden;
}

.main {
    overflow: hidden;
    height: 60vh;
    max-height: 1000px;
}

.showcases {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.small {
    display: flex;
    flex: 1;
    height: 50vh;
    max-height: 500px;
    overflow: hidden;
}

.bslidel {
    /*transform: translate(-100%, 0);*/
    transition: opacity .3s ease, transform .7s ease;
}

.aslidel {
    /*transform: translate(0, 0);*/
}

.bslider {
    transform: translate(-20px, 20px) scale(0.9);
    transition: opacity .3s ease, transform .5s ease;
}

.aslider {
    transform: translate(0, 0) scale(1.0);
}

@media screen and (min-width: 768px) {

    .showcases {
        flex-direction: row;
    }

}

@media screen and (min-width: 1000px) {

    .root {
        flex-direction: row;
        height: 100vh;
        max-height: 1000px;
    }

    .main {
        height: 100vh;
    }

    .showcases {
        flex-direction: column;
    }

}
