
.root {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(../../../assets/vaniila/images/vaniila.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cover {
    height: 100%;
}
