
$title_margin: 8px;
$title_padding: 0;
$title_width: calc(100% - 80px);
$title_max_width: 600px;
$title_color: #000;
$title_animation_duration: 0.6s;
$title_index: 1;

$subtitle_color: #000;

$separator_width: 200px;
$separator_height: 2px;
$separator_color: #000;
$separator_animation_duration: 1.0s;

.defaults {}

.root {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    position: relative;
    margin: $title_margin;
    padding: $title_padding;
    width: $title_width;
    max-width: $title_max_width;
    z-index: $title_index;
    overflow: hidden;
}

.title h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: $title_color;
    opacity: 0;
    transition: opacity $title_animation_duration ease, transform $title_animation_duration ease;
}

.subtitle {
    position: relative;
    margin: $title_margin;
    padding: $title_padding;
    width: $title_width;
    max-width: $title_max_width;
    z-index: $title_index;
    overflow: hidden;
}

.subtitle h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    color: $subtitle_color;
    opacity: 0;
    transition: opacity $title_animation_duration ease, transform $title_animation_duration ease;
    transition-delay: 0.1s;
}

.subtitle span {
    font-weight: 700;
    font-size: 26px;
    color: #ff5094;
}

h1.visible,
h2.visible {
    transform: translate(0, 0);
    opacity: 1;
}

.separator {
    margin: 20px $title_margin;
    padding: $title_padding;
    height: 2px;
    width: $title_width;
    max-width: $title_max_width;
    overflow: hidden;
    z-index: $title_index;
}

.separator div {
    width: $separator_width;
    height: $separator_height;
    background-color: $separator_color;
    transform: translate(-$separator_width, 0);
    transition: transform $separator_animation_duration ease;
    transition-delay: 0.1s;
}

.separator.visible div {
    transform: translate(0, 0);
}

@media screen and (min-width: 768px) {

    .title h1 {
        font-size: 40px;
    }

    .subtitle h2 {
        font-size: 28px;
    }

    .subtitle span {
        font-size: 40px;
    }

}
