
.root {
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    cursor: grab;
    user-select: none;
    backface-visibility: hidden;
    transform: translateZ(0);
    min-height: 300px;
}

.root:active {
    cursor: grabbing;
}

