@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

.root {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    opacity: 0;

    background: rgb(212 198 222);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 32%, rgb(212 198 222) 100%);

    animation: fadeIn ease 1s 1 normal forwards;
    animation-delay: 1.75s;
}

.cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tiles {
    display: flex;
    transform: translate3d(-50%, -50%,0);
    position: absolute;
    left: 50%;
    top: 50%;
    align-items: center;
    justify-content: center;
}

.tiles_line {
    width: 375px;
    display: block;
    flex: none;
    padding: 0 10px;
}

.tiles_line:nth-child(even) {
    margin-top: -50%;
}

.tiles_line_image {
    width: 100%;
    height: 812px;
    margin: 20px 0;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.7;
}

.title {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%,0);
    font-size: 10vw;
    font-weight: 700;
    font-style: normal;
    color: #01869a;
    color: #FFEB3B;
    letter-spacing: .4vw;
}

.title span {
    display: inline-block;
    opacity: 0.9;
}

.title span:nth-child(1),
.title span:nth-child(2),
.title span:nth-child(3) {
    /*color: #fff;*/
}


@media screen and (max-width: 768px) {

    .tiles {
        transform: translate3d(-58.65%, -39%,0) scale(1.04);
    }

    .title {
        display: none;
    }

}

@media screen and (min-width: 1000px) {
    .title {
        font-size: 6vw;
    }
}
