
.root {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.svg {
    height: 30px;
    width: 30px;
    margin: 0 50px;
    position: relative;
    z-index: 1;
    fill: #ffffff;
}

.path {
    fill: #aebcc8;
}

.line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 1px;
    background-color: #e7eef4;
}

.line::after {
    background-color: #F7F7F7;
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
